body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-inherit: inherit;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-sm: 14px;
  --font-size-mini: 15px;
  --font-size-base: 16px;
  --font-size-5xl: 24px;
  --font-size-xl: 20px;
  --font-size-45xl: 64px;
  --font-size-xs: 12px;

  /* Colors */
  --color-white: #fff;
  --color-whitesmoke: #f5f5f5;
  --color-steelblue-100: #687cbb;
  --color-steelblue-200: #394f80;
  --color-silver: #c1c1c1;

  /* Paddings */
  --padding-8xl: 27px;

  /* border radiuses */
  --br-7xs: 6px;
  --br-xl: 20px;
}
